.certificate_icon {
    width: 30.33px;
    Height: 40.95px;
    margin-right: 10px;
}

.certificate_modal_header {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
}

.certificate_modal_body {
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    color: #000000;
}

.certificate_header {
    font-weight: 700;
    font-size: 35px;
    line-height: 54px;
    text-align: center;
    color: #7D5741;
}

.certificate_sub_title {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #7D5741;
}

.divider {
    border: 1px solid #7D5741;
}

.certificate_name {
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    text-align: center;
    color: #7D5741;
}

.certificate_description {
    font-weight: 400;
    font-size: 11px;
    line-height: 25px;
    text-align: center;
    color: #7D5741;
}

.certificate_date {
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    color: #7D5741;
}

.certificate_logo {
    width: 138.67px;
    height: 39px;
    display: block;
    padding-bottom: 15px;
}

.footer_logo {
    width: 92.95px;
    height: 22.22px;
}

.certificate_footer {
    width: 104.41px;
    height: 104.41px;
}

.btn-theme-delete {
    background: #D9D9D9;
    border: 2px solid #D9D9D9;
    color: #808080;
}

.btn-theme-white {
    background: #fff;
    border: 1px solid #191B1D;
    color: black;
}

.shopping-table tr td {
    vertical-align: middle;
}

.shopping-bag-info {
    background: #191B1D;
    height: 50px;
}

.shopping-bag-text {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    padding: 15px;
}

.table thead tr {
    background: #EFEFEF;
}

.checkbox {
    background: #FFFFFF;
    border: 1px solid #AAAAAA;
    border-radius: 4px;
}

.discounted_Price {
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #ADADAD;
    text-decoration: line-through;
}

.cart-total {
    background: #FFFFFF;
    border: 1px solid #000000;
    display: block;
}

.cart-total-price {
    padding: 20px 60px 20px 60px;
}

.border_right {
    border-right: 1px solid #CCCCCC;
}

.total-price {
    font-weight: 700;
    font-size: 22px;
    line-height: 35px;
    color: #000000;
}

.icons {
    position: absolute;
    top: 40%;
    right: -4.5%;
    border: 1px solid;
    border-radius: 50%;
    background-color: white;
    font-size: 12px;
    padding: 2px 5px;
}

.border_bottom {
    border-bottom: 1px solid #000;
}

.confirm_payment {

    background: #EFEFEF;
}

.radio_select {
    display: flex;
}

.total_payment {
    padding-right: 3rem !important;
}

.shopping-table {
    width: 100%;
    display: table;
}

.position {
    position: relative;
}

.mobi-icons {
    position: absolute;
    top: 92.1%;
    left: 46%;
    border: 1px solid;
    border-radius: 50px;
    height: 25px;
    width: 25px;
    text-align: center;
}

.mobile-icons {
    display: none;
}

.user-info {
    background: #EFEFEF;
}

.user_avatar {
    width: 115px;
    height: 115px;
    background-color: #ADADAD;
    border-radius: 50%;
}

.user_profile {
    padding: 1.5rem;
    font-weight: 500;
    font-size: 15px;
    color: #808080;
}

.bottom-border {
    border-bottom: 1px solid #BBBCBD;
}

.top-border {
    border-top: 1px solid #000000;
}

.verify_mobile {
    display: none;
}

.verify_btn {
    display: block;
}

.user_jobs {
    height: 50px;
}

.input_jobs {
    padding-left: 10px;
    height: 51px;
}

.custom_width {
    width: 100%;
}

.margin {
    margin-right: 4.25rem;
}

.paginate {
    display: flex;
    align-items: center;
    justify-content: center;
}

.paginate a {
    font-size: 15px;
    color: #9f9f9f;
    margin-left: 10px;
    margin-right: 10px;
}

.paginate a.active {
    color: black;
}

.paginate a.paginate-btn {
    background: transparent;
    padding: 2px 10px;
    color: #000000;
    border-radius: 50%;
}

.custom_height {
    height: 118px;
}

.btn-padding {
    padding: 6px 30px 5px 30px;
}

.form-wrapper {
    width: 30%;
}

.btn-login {

    background: #191B1D;
    border-radius: 5px;
    font-weight: 500;
    font-size: 15px;
    line-height: 21px;
    color: #FFFFFF;
    width: 100%;
    padding: 13px 0px 13px 0px;
}

.btn-login:hover {
    background: #191B1D;
    border-radius: 5px;
    font-weight: 500;
    font-size: 15px;
    line-height: 21px;
    color: #FFFFFF;
    width: 100%;
    padding: 13px 0px 13px 0px;
}

.btn-register {

    background: #191B1D;
    border-radius: 5px;
    font-weight: 500;
    font-size: 15px;
    line-height: 21px;
    color: #FFFFFF;
    padding: 13px 0px 13px 0px;
}

.btn-register:hover {
    background: #191B1D;
    border-radius: 5px;
    font-weight: 500;
    font-size: 15px;
    line-height: 21px;
    color: #FFFFFF;
    padding: 13px 0px 13px 0px;
}

.form-register-wrapper {
    width: 100%;
}

.bottom-border-register {
    border-bottom: 2px solid #191B1D;
    border-top: 2px solid #191B1D;
}

.payment_method_card {
    width: 50%;
}

.payment_method_deposit {
    width: 60%;
}

.payment_method_mobile {
    width: 90%;
}

@media only screen and (max-width: 991px) {
    .form-wrapper {
        width: 70%;
        min-height: 100vh;
    }

    .user_jobs {
        height: 169px;
    }

    .input_jobs {
        height: 170px;
        flex-direction: column;
        align-items: flex-start !important;
        padding-bottom: 5px;
    }
}

@media only screen and (max-width: 767px) {
    .radio_select {
        flex-direction: column;
        text-align: left !important;
        margin-left: 10px;
        padding-bottom: 5px;
    }

    .total_payment {
        padding-right: 0.5rem !important;
    }

    .shopping-table {
        width: 100%;
        display: block;
        overflow-x: auto;
    }

    .mobile-icons {
        display: block;
    }

    .cart-total {
        display: none;
    }

    .verify_mobile {
        display: block;
        text-align: center;
    }

    .verify_btn {
        display: none;
    }

    .user_jobs {
        height: 169px;
    }

    .input_jobs {
        height: 170px;
        flex-direction: column;
        align-items: flex-start !important;
        padding-bottom: 5px;
    }

    .custom_width {
        width: 75%;
    }

    .margin {
        margin-right: 0;
    }

    .user_profile {
        padding: 0.5rem;
    }

    .custom_height {
        height: 166px;
    }

    .form-wrapper {
        width: 100%;
    }

    .payment_method_card {
        width: 100%;
    }

    .payment_method_deposit {
        width: 100%;
    }

    .payment_method_mobile {
        width: 100%;
    }
}
